/*font-family: 'Raleway', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Lora', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Lusitana', serif;
font-family: 'Radley', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Crimson Text', serif;*/

html {
  box-sizing: border-box;
  /* background-color: #e8e8e5; */
  /* background-color: #f8f9f4; */
  /* background-color: #f8f7f6; */
    /* background-color: #f1f2f4; */
  /* background-color: #896432; */
  /* background-color: #b5c6cd; */
  /* background-color: #aba581; */
  background-color: #969384;
}

*,
*:before,
*after {
  box-sizing: inherit;
}

.contents {
  position: fixed;
  transform: rotate(270deg);
  transform-origin: left top 0;
  margin-top: 100px;
}

.contents-list {
  list-style-type: none;
}

.name {
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Lusitana', serif; */
  /* font-size: 10px; */
  /* color: #293475; */
  /* position: fixed; */
  margin-left: 50px;
  margin-top: 88px;
}

.about {
  font-family: 'Lusitana', serif;
  /* font-family: 'Crimson Text', serif; */
  font-size: 30px;
  /* color: #293475; */
  text-align: center;
}

.about a {
  text-decoration: none;
  /* color: white; */
  color: black;
}

.about a:hover {
  position: relative;
}

.about a:hover:after {
  /* content: url(assets/images/2217bbaa11bac5b6f2839f1405155420.jpg); */
  /* content: <img src="assets/images/greenthumbs.jpg" height="50%" width="50%"> */
  display: block;
  position: absolute;
  margin-left: 700px;
  /* margin-top: 5px; */
}

span.highlight {
  /* background-color: #8CBBD3; */
  /* background-color: #FDE3DC; */
  /* background-color: #d5ed83; */
  background-color: #d7f186;
}

.more {
  font-family: 'Lusitana', serif;
  /* font-family: 'Futura', sans-serif; */
  font-size: 15px;
  /* color: #293475; */
  text-align: justify;
  width: 30%;
  /* margin-left: 50px; */
  /* margin-left: 33%; */
  margin-left: 18%;
  margin-top: 88px;
}

.skills {
  font-size: 25px;
  margin-left: 50px;
  margin-top: 88px;
}

h3 {
  font-family: 'Lusitana', serif;
  /* font-family: 'Crimson Text', serif; */
  font-size: 15px;
}

h4 {
  font-family: 'Lusitana', serif;
  /*font-family: 'Crimson Text', serif;*/
  font-size: 12px;
}

.folio {
  margin-left: 50px;
  margin-top: 88px;
}

/* .twopointo {
} */

/* .greenthumbs {
  width: 45%;
  min-height: 100px;
  background-image: "https://s-media-cache-ak0.pinimg.com/564x/62/39/43/62394358c87b68c46d68a0bf9e063ca0.jpg";
  background-size:
  position: relative;
  display: inline-block;
} */

/*.greenthumbs img {
  width: 45%;
  min-height: 100px;
}*/

/* .seatyourself {
  width: 45%;
  min-height: 100px;
  background-image: "https://s-media-cache-ak0.pinimg.com/564x/4e/26/b4/4e26b45051e9c38b0d3aa14083d6b2a1.jpg";
  background-size:
  position: relative;
  display: inline-block;
} */

/*.seatyourself img {
  width: 45%;
  min-height: 100px;
}*/

.contact {
  /* width: 90%; */
  /* background-color: #D1AC8A; */
  /* color: white; */
  color: black;
  font-family: 'Lusitana', serif;
  /* font-family: 'Crimson Text', serif; */
  /* font-size: 20px; */
  font-size: 15px;
  /* font-size: 12px; */
  text-decoration: none;
  /*box-shadow: 1px 1px 3px #888;*/
  min-height: 250px;
  padding: 10px;
  /* margin-left: 50px; */
  margin-right: 100px;
  float: right;
  margin-top: 88px;
}


.links a {
  text-decoration: none;
  /* color: white; */
  color: black;
}

a:hover {
  /* background-color: #d5ed83; */
  /* background-color: #d7f186; */
  /* background-color: #1584c5; */
  /* color: ; */
  /* font-style: italic; */
  text-decoration: underline;
}

#pop {
  height: 280px;
  width: 470px;
  position: fixed;
  bottom: 50%;
  right: 40%;
  border: 2px solid;
  padding: 10px;
  background-color: #D1AC8A;
}

#minimize {
  right: 5;
  top: 5;
  float: right;
}

@media (min-width: 480px) {
  .greenthumbs img {
    display: none;
  }
}

@media (min-width: 870px) {
}

@media (min-width: 870 px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
